html{
    font-family:-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:2% 5%;
    line-height:140%;
    font-size:18px;
    line-height:1.5;
    -webkit-font-smoothing:antialiased;
    color:#eee;
    background:#212121
}
a{
    color:#40B0FF;
}
.pitch-accent{
    display:inline;
}
span.marking,marking{
    border-top:solid transparent 1px;
    display:inline-block;
    padding-top:0;
    text-indent:0;
    vertical-align:bottom
}
span.drop,span.overline,span.drop,span.overline{
    border-top:solid #dc3545 1px;
    position:relative;
    padding-right: 0.1em;
    padding-top: 0.05em;
}
span.drop::after,span.drop::after{
    background:#dc3545;
    content:"";
    height:6px;
    left:100%;
    position:absolute;
    top:-1px;
    width:1px
}
h1{
    text-align:center;
    font-size:1.95em
}
h2{
    display:block;
    font-size:1.5em;
    margin-block-start:.83em;
    margin-block-end:.83em;
    margin-inline-start:0;
    margin-inline-end:0;
    font-weight:700
}
h3{
    text-align: left;
    display:block;
    font-size:1.5em;
    margin-block-start:.83em;
    margin-block-end:.83em;
    margin-inline-start:0;
    margin-inline-end:0;
    font-weight:700
}
h4{
    text-align: left;
    display:block;
    font-size:2.0em;
    margin-block-start:.83em;
    margin-block-end:.83em;
    margin-inline-start:0;
    margin-inline-end:0;
    font-weight:700
}
h5{
    text-align: left;
    display:block;
    font-size:1.5em;
    margin-block-start:.83em;
    margin-block-end:.83em;
    margin-inline-start:0;
    margin-inline-end:0;
    font-weight:700
}
p{
    margin:.67em 0 1em
}
table{
    border-collapse:collapse;
    table-layout:auto;
    text-align:left;
    margin-bottom:1em;
    border:1px solid #4f4f4f;
    margin-top:.5em;
    width: 100%;
}
td{
    word-break: keep-all;
    border: 1px solid #4f4f4f;
    text-align: center;
    width: 10%;
}
th{
    text-align: center;
    border:1px solid #4f4f4f;

}
td:last-child {
    padding: 10px;
    text-align: left;
    width: 100%;
}
pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #211c16;
    border-radius: 6px;
}
pre code {
    font-family: inherit;
    background-color: #211c16
}

code {
    font-family: inherit;
  background-color: #ff0064;
  background: rgba(255,0,0,.1);
}
