h1 a.anchor,
h2 a.anchor,
h3 a.anchor,
h4 a.anchor,
h5 a.anchor,
h6 a.anchor{
margin-left: 0.5rem;
opacity:0;
position: absolute;
transition: opacity 0.2s linear;
}
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor{
opacity:1;
}
a {
	color:#4f4f4f;
}
#toptable {
	border-collapse:collapse;
	margin-bottom:1em;
	border:1px solid #fff;
	margin-top:.5em;
}
#toptable th {
	padding:.5em;
	text-align:left;
	border:1px solid #eee;
}
#toptable td {
	padding:.5em;
	vertical-align:top;
	border:1px solid #eee;
	width: 100%;
}
.verbs {
	background-color: #E3FAEA;
}
.nouns {
	background-color: #e6ffff;
}
.adjectives {
	background-color: #ffe6e6;
}
.highlighted {
	background-color: #F5F7F7;
}
.highlighted .verbs {
	background-color:#C8FACB;;
}
.highlighted .nouns {
	background-color:#C8FAF5;
}
.highlighted .adjectives {
	background-color:#FFB5B5;
}
.container {
	overflow:auto;
	max-height:90vh;
}
.cloze{
	color: #0055FF;
}
dt {
	float: left;
	clear: left;
	width: 50px;
	text-align: right;
	font-weight: bold;
	color: #263e86;
	white-space: nowrap;
}
dl {
	margin-top:0px;
}
.equiv {
	margin-left:1em; 
	font-style: italic
}
#results {
	float:right;
	padding-right:3px;
	padding-left:2em;
	font-weight: normal;
	font-size:80%;
}
#concept {
	min-width:10em;
}
#narrow {
	width:12em !important;
	padding:3px;
	border-radius:1px; 	
	border:1px solid #aaa;
}
.option_container {
	margin-left: 2em;
	padding-left:2em;
	border-left:3px dotted #aaa;
}
code {
	font-family: monospace;
	padding:2px;
	background-color:#dee4f1;
}
.update, #js_hint, #bloatbox	{
	display: none;
}
.term {
	color:#144efb;
	pointer-events: none;
}
.pitch-accent {
    display:inline;
}
span.marking,marking{
    border-top:solid transparent 1px;
    display:inline-block;
    padding-top:0;
    text-indent:0;
    vertical-align:bottom
}
span.drop,span.overline,span.drop,span.overline{
    border-top:solid #dc3545 1px;
    position:relative
}
span.drop::after,span.drop::after{
    background:#dc3545;
    content:"";
    height:4px;
    left:100%;
    position:absolute;
    top:-1px;
    width:1px
}
h1{
    text-align:center;
    font-size:1.95em;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p{
    margin: 0.67em 0 1em;
}

html{
    font-family:-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

body{
    margin:2% 5%;
    text-align: center;
    line-height:140%;
    font-size:18px;
    line-height:1.5;
    -webkit-font-smoothing:antialiased;
    color: #eee;
    background: #212121;
}


table {
	border-collapse:collapse;
	margin-bottom:1em;
	border:1px solid #fff;
	margin-top:.5em;
}

